
<div class="offer-main">
  <div class="offer-top">
    <div class="offer-title">
    </div>
    <div class="offer-detail">
    </div>
  </div>

  <div class="offer-middle">
    <div class="favorite">
    </div>
    <div class="contact">
    </div>
  </div>

  <div class="offer-bottom">
    <div class="offer-bottom-left">
      <div class="offer-bottom-left-top">
      </div>
      <div class="offer-bottom-left-bottom">
      </div>
    </div>
    <div class="offer-bottom-right">
        <!-- nationarity,age,hobby,introduce -->
    </div>
  </div>
